html {
    font-family: Arial, Helvetica, sans-serif;

}

header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.header {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.imglogo {
    width: 100%;
    height: 130px;
    margin-bottom: -30px;

}

.slogan {
    margin: 0;
    font-weight: bold;
}

nav {
    display: flex;
    width: 100%;


}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;

}

li a {
    text-decoration: none;
    color: black;
    font-size: 18px;

}

a:hover {
    color: red;
}

/* corps du site */
/* Section1 */
.programme {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 35px;

}

.exercice img {
    width: 80px;
}

.profil-tof-name {
    margin-top: 50px;
    justify-content: center;
    text-align: center;

}

.profil-tof-name img {
    border-radius: 80%;
    width: 100px;
    height: 100px;
}

.profil-tof-name p {
    margin-top: 0;
    font-weight: bolder;
    font-size: 25px;
}

.inscription {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.inscription p {
    margin: 0px 0px 0px 10px;
    font-style: italic;


}

.infos_g {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.infos {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}

.infos p {
    margin: 0px 0px 20px 10px;
    font-size: 20px;
    font-weight: normal;
}

.modif_infos {
    display: flex;
    justify-content: center;
}

.modif {

    width: 80%;
    padding-top: 8px;
    background-color: rgb(2, 126, 128);
    color: white;
    font-size: 20px;
    border: red solid 2px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    height: 35px;
    margin: 10px 5px 0px 5px;
}

.modif p {
    margin: 0;
}

.tableau{
    margin: 30px 0px 70px 0px;
}
.nomination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
font-weight: bolder;

}

.nomination p {
    border: rgb(2, 126, 128) solid 2px;
    margin-bottom: 0;
}

.chiffre {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;  
}

.chiffre p {
    border: rgb(2, 126, 128) 2px solid;
    margin: 0;
    padding: 10px 0px 10px 0px
}
.signupContainer{
    text-align: center;
}
h2{
    font-size: 15px;
    margin: 80px 0px 50px 0px;
}
#form-login{
text-align: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    text-align: center;
}
.label{
    margin-bottom: 10px;
}
#button{
    margin-top: 80px;
   padding: 0;
}
.navlogsign{
    margin-top: 30px;
}
.navlogsign a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}
.regex{
    font-size: 12px;
}
#sign{
    padding: 0;
}